@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
    --font-nunito: "Nunito Sans", sans-serif;
}

@layer base {
    * {
        transition: all 0.2s ease-in-out;
    }
}

/* slow subtle drifting */
@keyframes drift {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(40px, -30px);
    }
}

@keyframes drift2 {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-30px, 35px);
    }
}

@keyframes glow {
    0%,
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
}

.blob-a {
    animation: drift 6s ease-in-out infinite;
}
.blob-b {
    animation: drift2 4s ease-in-out infinite;
}
.blob-c {
    animation: glow 2s ease-in-out infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px;
}
.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
}
.out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px;
}
.in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px;
}
